<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title> Max Temperature </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styling.css">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="BoomBoomRealEstate.html"> <text id="homebutton"> Home </text></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Predictions<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="Topic1.html"> Topic 1 </a></li>
                            <li><a href="Topic2.html"> Topic 2 </a></li>
                        </ul>
                    </li>
                    <li><a href="comparison.html"> Comparison </a></li>
                    <li><a href="AboutUs.html"> About Us </a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" id="box">
                <br>
                <h1> About Us (Laughing Umbrella) </h1>
                <hr>
                <div class="row">
                    <img src="README.md" alt="About Us" height="75%" width="75%">
                    <div class="row">
                        <section class="text">
                            <p> 
                                                    Laughing Umbrella
                                GT Data Science and Analytics Boot Camp Final Project
                                May 2019

                                                       Team Members
                                Andrew Boring
                                Natalie Maize
                                Troy Holloway

                                                        About
                                This repository contains the files for our final team project in Cohort 4 of the Georgia Tech Data Science
                                 and Analytic Bootcamp. The project is focused on analyzing various economnic indicators in real estate and determine if we are nearing another real estate market crash.

                                                        Why "Laughing Umbrella"?
                                The name was a random word suggestion provided by Github when I created the repository. 
                                It sounded sufficiently odd as to demand acceptance.
                            </p>
                        </section>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" id="box">
                <br>
                <h3> Visualizations </h3>
                <hr>
                <div class="row">
                    <div class="col-md-6 col-sm-3 col-xs-3">
                        <a href="maxtemp.html">
                            <img id="selected" src="Resources\assets\images\Fig1.png" alt="Latitude vs. Max Temperature" height="98%" width="98%">
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-3 col-xs-3">
                        <a href="humidity.html">
                            <img src="Resources\assets\images\Fig2.png" alt="Latitude vs. Humidity" height="100%" width="100%">
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-3 col-xs-3">
                        <a href="cloud.html">
                            <img src="Resources\assets\images\Fig3.png" alt="Latitude vs. Cloudiness" height="100%" width="100%">
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-3 col-xs-3">
                        <a href="windspeed.html">
                            <img src="Resources\assets\images\Fig4.png" alt="Latitude vs. Wind Speed" height="100%" width="100%">
                        </a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>