{% extends "layout.html" %}
{% block title %}Data{% endblock %}

{% block nav %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Begin -></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/trends">Trends -> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/forecast">Forecast -> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/predictor">Predictor -> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/summary">Summary</a>
          </li>

        </ul>
{% endblock %}

{% block content %}
  <div class="bg-light .table-responsive">
    {{ data|safe }}
  </div>
{% endblock %}


{% block script %}
<!-- <script src="/static/js/dataset.js"> -->
{% endblock %}
