{% extends "layout.html" %}
{% block title %}Forecast{% endblock %}

{% block nav %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Begin -></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/trends">Trends -> </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/forecast">Forecast -> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/summary">Summary</a>
          </li>

        </ul>
{% endblock %}

{% block content %}
    <h1 class="mt-5 text-light">Forecast</h1>
      <p class="lead text-light">The Future Is Now</p>
      <hr style="border-color: grey">
      <p class="text-light">Using a Regression-based machine learning mode called ElasticNet, we used the existing historical data to train the model. Once trained, we forecasted the historical Case Schiller Index based on the other historical data points. This lets us create a monthly past "prediction" and compare it to the actual values. Our forecasted historical data lines up closely with the actual historical Case Schiller Index. </p>

      <div class="container text-center">

      </div>

      <div class="container bg-light" id="content">
      </div>

      <div class="container text-center">
        <p>&nbsp;</p>
        <a href="/trends" class="text-light"><button type="button" class="btn btn-secondary">Prev</button></a>
        <a href="/summary"class="text-light"><button type="button" class="btn btn-secondary">Next</button></a>
      </div>

{% endblock %}


{% block script %}
  <script src="/static/js/forecast.js"></script>
{% endblock %}
