{% extends "layout.html" %}
{% block title %}Start{% endblock %}

{% block nav %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" href="/">Begin -> <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/trends">Trends -> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/forecast">Forecast -> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="summary">Summary</a>
  </li>
</ul>
{% endblock %}

{% block content %}
  <h1 class="mt-5 text-light">Begin Your Journey</h1>
  <p class="lead text-light"></p>
  <hr style="border-color: grey">
  <img src = "../static/img/laughing-umbrella-orig.png" class="img-fluid" style="opacity:0.3">


  <p class="text-light">On December 30, 2008, the Case–Shiller home price index reported its largest price drop in its history, marking the most significant economic event of a generation: the housing market bubble bursting into recession.</p>

<p class="text-light">Is history repeating itself?</p>

<p class="text-light">We took historical data from:</p>
<ul>
<li class="text-light">Standard and Poor (Case Schiller Index)</li>
<li class="text-light">US Census (New Home Sales)</li>
<li class="text-light">National Association of Realtors (Affordability Index)</li>
<li class="text-light">Financial Obligations and Debt Rations (Federal Reserve)</li>
<li class="text-light">Bureau of Labor and Statistics (Unemployment Rate)</li>
<li class="text-light">Federal Housing Finance Authority (FHFA Price Index)</li></ul>
<p class="text-light">and tortured it into revealing its secrets.  </p>

  <div class="container text-center">
    <!-- <a href="#" class="text-light"><button type="button" class="btn btn-secondary">Prev</button></a> -->
    <a href="/trends"class="text-light"><button type="button" class="btn btn-secondary">Next</button></a>
  </div>

{% endblock %}



{% block script %}
<script src="/static/js/some_script.js">
{% endblock %}
