{% extends "layout.html" %}
{% block title %}Summary{% endblock %}

{% block nav %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Begin -></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/trends">Trends -> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/forecast">Forecast -> </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/summary">Summary <span class="sr-only">(current)</span></a>
          </li>

        </ul>
{% endblock %}

{% block content %}
      <h1 class="mt-5 text-light">Summary</h1>
      <p class="lead text-light">The Oracle Speaks</p>
      <hr style="border-color: grey">
      <p>&nbsp;</p>
      <h3 class="text-light text-center">In conclusion....</h3>
      <h1 class="text-light text-center">You're f*cked, bro.</h1>
      <p  class="text-light text-center">(but not just yet)</p>

      <div class="container text-center">
        <p>&nbsp;</p>
        <a href="/forecast" class="text-light"><button type="button" class="btn btn-secondary">Prev</button></a>
        <a href="/" class="text-light"><button type="button" class="btn btn-secondary">Restart</button></a>
      </div>

{% endblock %}


{% block script %}
<script src="/static/js/some_script.js"
{% endblock %}
