{% extends "layout.html" %}
{% block title %}Trends{% endblock %}

{% block nav %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Begin -></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/trends">Trends -> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/forecast">Forecast -> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/summary">Summary</a>
          </li>

        </ul>
{% endblock %}


{% block content %}
    <h1 class="mt-5 text-light">Trends</h1>
      <p class="lead text-light">Economic Indicators That Tell You What's Up</p>
      <hr style="border-color: grey">
      <p class="text-light">We begin by looking at overall trends from 2000 to present.</p>

<p class="text-light">Plotting the Case-Schiller Index (green), we contrast it with data from other agencies. We see the Unemployment Rate (blue) contrasting nicely, as does the NAR's Affordability Index (purple). The Federal Housing Finance Authority's Home Price Index (red) compares with Case-Schiller along the same trending pattern.
</p>

      <div class="container text-center">

      </div>

      <div class="container bg-light" id="content">

      </div>

      <div class="container text-center">
        <p>&nbsp;</p>
        <a href="/" class="text-light"><button type="button" class="btn btn-secondary">Prev</button></a>
        <a href="/forecast"class="text-light"><button type="button" class="btn btn-secondary">Next</button></a>
      </div>

{% endblock %}

{% block script %}
  <script src="/static/js/trends.js"></script>
{% endblock %}
